.header {
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: default;
  border-bottom: solid 2px silver;
}
.header > div {
  width: 400px;
}
.header > div > h1 {
  font-size: 40px;
}

.header-links {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.header-links > a {
  cursor: pointer;
}

@media (max-width: 954px) {
  .header > div {
    width: auto;
  }
  .header > div > h1 {
    font-size: 30px;
    margin: 10px;
  }
  .header-links {
    display: flex;
    flex-direction: column;
  }
}